{% extends 'layout.html' %}

{% block content %}
<div class="menu"></div>
<div id="errors"></div>
<div id="progress"></div>
<ul id="actions">
	<li id="selectall"><input type="checkbox" id="selectcheck" name="selectcheck"><label for="selectcheck" id="selectlabel">Select All</label></li>
	<li id="loading">Loading...</li>
	<li id="zipit">zip it</li>
</ul>
<form id="zipform" action="/zip" method="POST">
	<input type="submit" id="zipper" value="zip it">
	<ul id="photoList">
	</ul>
</form>
<script src="../js/photoLoader.js"></script>
{% endblock %}
